* {
  padding: 0px;
  margin: 0px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  width: 1520px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(228, 247, 243));
  border-bottom: 2px solid rgb(95, 161, 150);
  z-index: 10;
}
nav h1 {
  font-family: "BPG Mikheil Stefane", sans-serif;
  font-size: 65px;
  vertical-align: top;
  margin-left: 80px;
  margin-top: 10px;
  opacity: 100%;
  font-weight: 900;
  color: rgb(58, 58, 58);
}
nav h1:hover {
  font-size: 75px;
  transition-duration: 2s;
  color: rgb(0, 72, 48);
}
nav #atag {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 40px;
  margin-top: 30px;
  vertical-align: top;
}
nav #atag a {
  text-decoration: none;
  font-family: "BPG Mikheil Stefane", sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: rgb(77, 77, 77);
}
nav #atag a:hover {
  color: rgb(32, 157, 115);
}
nav #atag #active {
  color: rgb(0, 141, 106);
}
nav #search {
  display: flex;
  flex-direction: row;
}
nav #search #lupa {
  width: 40px;
  height: 40px;
  background-color: rgb(61, 163, 150);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
}
nav #search #lupa i {
  font-size: 24px;
  color: rgb(0, 58, 51);
  position: absolute;
}
nav #search #lupa:hover {
  background-color: rgb(75, 195, 155);
}
nav #search input {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border-color: rgb(190, 197, 195);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  vertical-align: top;
  margin-top: 20px;
}

header {
  position: relative;
  width: 1520px;
  height: 700px;
  z-index: -1;
}
header img {
  width: 1520px;
  height: 700px;
  object-fit: cover;
}

#twonav {
  display: flex;
  flex-direction: row;
  width: 1520px;
  height: 80px;
  justify-content: center;
  align-items: center;
  gap: 200px;
  background-color: rgb(248, 248, 248);
}
#twonav a {
  font-family: "ALK Sanet", sans-serif;
  font-weight: 700;
  color: rgb(77, 77, 77);
  font-size: 18px;
  text-decoration: none;
}
#twonav a:hover {
  color: rgb(40, 142, 115);
  font-size: 20px;
  transition-duration: 0.1s;
}

main {
  margin-top: 100px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}
main #abzaci {
  display: flex;
  flex-direction: row;
}
main #abzaci #text {
  width: 750px;
}
main #abzaci #text h1 {
  font-family: "ALK Sanet", sans-serif;
  font-weight: 600;
  color: rgb(75, 75, 75);
}
main #abzaci #text p {
  font-family: "BPG Algeti", sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 18px;
  color: rgb(116, 116, 116);
}
main #info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 100px;
  width: 400px;
  height: 300px;
  background-image: linear-gradient(to bottom right, rgb(233, 230, 252), rgb(255, 243, 226));
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  scroll-padding-top: 40px;
}
main #info div {
  display: flex;
  flex-direction: row;
  width: 300px;
  border-bottom: 2px solid rgb(162, 162, 162);
}
main #info div p {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(130, 130, 130);
}
main #info div i {
  font-size: 30px;
  color: rgb(18, 155, 126);
}
main #info div .number {
  font-size: 16px;
  font-weight: 700;
  color: rgb(73, 73, 73);
}
main #abzaciori {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}
main #abzaciori #textori {
  width: 750px;
}
main #abzaciori #textori h1 {
  font-family: "ALK Sanet", sans-serif;
  font-weight: 600;
  color: rgb(75, 75, 75);
}
main #abzaciori #textori p {
  font-family: "BPG Algeti", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  font-size: 18px;
  color: rgb(116, 116, 116);
}
main #abzaciori #imgs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #abzaciori #imgs img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin-left: 100px;
  border-radius: 30px;
}
main #abzaciori #imgs img:hover {
  height: 300px;
  transition-duration: 2s;
}
main #abzacisami {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}
main #abzacisami #textsami {
  width: 750px;
}
main #abzacisami #textsami h1 {
  font-family: "ALK Sanet", sans-serif;
  font-weight: 600;
  color: rgb(75, 75, 75);
}
main #abzacisami #textsami p {
  font-family: "BPG Algeti", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  font-size: 18px;
  color: rgb(116, 116, 116);
}
main #abzacisami #imgs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #abzacisami #imgs img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin-left: 100px;
  border-radius: 30px;
}
main #abzacisami #imgs img:hover {
  height: 300px;
  transition-duration: 2s;
}
main #abzaciotxi {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}
main #abzaciotxi #textotxi {
  width: 750px;
}
main #abzaciotxi #textotxi h1 {
  font-family: "ALK Sanet", sans-serif;
  font-weight: 600;
  color: rgb(75, 75, 75);
}
main #abzaciotxi #textotxi p {
  font-family: "BPG Algeti", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  font-size: 18px;
  color: rgb(116, 116, 116);
}
main #abzaciotxi #imgs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #abzaciotxi #imgs img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin-left: 100px;
  border-radius: 30px;
}
main #abzaciotxi #imgs img:hover {
  height: 300px;
  transition-duration: 2s;
}

#mun {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  gap: 40px;
}
#mun h1 {
  font-family: "ALK Sanet", sans-serif;
  font-weight: 600;
  color: rgb(75, 75, 75);
  margin-left: 100px;
}
#mun #erti {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 20px;
  justify-content: center;
}
#mun .bro {
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: 5px 5px 10px 2px #8b8b8b;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  display: flex;
}
#mun .bro .foto {
  position: absolute;
  width: 300px;
  height: 130px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#mun .bro .gerbi {
  width: 80px;
  height: 100px;
  z-index: 2;
  margin-left: 110px;
  margin-top: 40px;
  border-radius: 5px;
}
#mun .bro .gerbi:hover {
  scale: 1.2;
  transition-duration: 0.5s;
}
#mun .bro p {
  font-family: "BPG Algeti", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  font-size: 22px;
  color: rgb(0, 153, 120);
  margin: auto;
}
#mun .bro p:hover {
  font-size: 26px;
  transition-duration: 0.5s;
}
#mun #ori {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
  justify-content: center;
}

#ruka {
  width: 1520px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
#ruka h1 {
  margin-left: 100px;
  margin-bottom: 30px;
  font-family: "ALK Sanet", sans-serif;
  font-weight: 600;
  color: rgb(75, 75, 75);
}
#ruka iframe {
  width: 1520px;
  height: 600px;
}

#ravnaxot {
  display: flex;
  flex-direction: column;
  width: 1520px;
  margin-top: 80px;
}
#ravnaxot h1 {
  font-family: "ALK Sanet", sans-serif;
  font-weight: 600;
  color: rgb(75, 75, 75);
  margin-left: 100px;
}
#ravnaxot #cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  gap: 40px;
}
#ravnaxot #one {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}
#ravnaxot .card {
  width: 300px;
  height: 350px;
  background-color: white;
  box-shadow: 5px 5px 10px 2px #8b8b8b;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  display: flex;
}
#ravnaxot img {
  position: absolute;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#ravnaxot h2 {
  font-family: "ALK Sanet", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: rgb(47, 47, 47);
  position: absolute;
  margin-top: 220px;
  margin-left: 20px;
}
#ravnaxot h2:hover {
  color: rgb(0, 113, 79);
}
#ravnaxot p {
  font-family: "ALK Sanet", sans-serif;
  color: rgb(47, 47, 47);
  position: absolute;
  margin-left: 20px;
  margin-top: 280px;
  font-size: 15px;
  font-weight: 800;
}
#ravnaxot p:hover {
  color: rgb(0, 130, 91);
}
#ravnaxot h3 {
  font-family: "ALK Sanet", sans-serif;
  color: rgb(47, 47, 47);
  position: absolute;
  margin-left: 20px;
  font-weight: 800;
  margin-top: 310px;
  font-size: 14px;
}
#ravnaxot h3:hover {
  color: rgb(0, 141, 112);
}
#ravnaxot .two {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */