html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  width: 1520px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(228, 247, 243));
  border-bottom: 2px solid rgb(95, 161, 150);
  z-index: 10;
}
nav h1 {
  font-family: "BPG Mikheil Stefane", sans-serif;
  font-size: 70px;
  vertical-align: top;
  margin-left: 80px;
  margin-top: 10px;
  opacity: 100%;
  font-weight: 900;
  color: rgb(58, 58, 58);
}
nav h1:hover {
  font-size: 75px;
  transition-duration: 2s;
  color: rgb(0, 72, 48);
}
nav #atag {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 40px;
  margin-top: 30px;
  vertical-align: top;
}
nav #atag a {
  text-decoration: none;
  font-family: "BPG Mikheil Stefane", sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: rgb(77, 77, 77);
}
nav #atag a:hover {
  color: rgb(32, 157, 115);
}
nav #atag #active {
  color: rgb(0, 141, 106);
}
nav #search {
  display: flex;
  flex-direction: row;
}
nav #search #lupa {
  width: 40px;
  height: 40px;
  background-color: rgb(61, 163, 150);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
}
nav #search #lupa i {
  font-size: 24px;
  color: rgb(0, 58, 51);
  position: absolute;
}
nav #search #lupa:hover {
  background-color: rgb(75, 195, 155);
}
nav #search input {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border-color: rgb(190, 197, 195);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  vertical-align: top;
  margin-top: 20px;
}

header {
  width: 1520px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
}
header #gidebi {
  width: 350px;
  height: 200px;
  background-image: linear-gradient(to bottom right, rgb(240, 252, 255), rgb(217, 229, 255));
  border-radius: 10px;
}
header #gidebi:hover {
  box-shadow: 10px 10px 15px 4px #8c8ba9;
  transition-duration: 0.2s;
}
header #gidebi h1 {
  font-family: "ALK Sanet", sans-serif;
  font-weight: 600;
  color: rgb(62, 70, 109);
  font-size: 36px;
  margin-top: 20px;
  margin-left: 20px;
}
header #gidebi p {
  font-weight: 600;
  color: rgb(94, 105, 159);
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
  width: 280px;
}
header #sastumroebi {
  width: 350px;
  height: 200px;
  background-image: linear-gradient(to bottom right, rgb(255, 240, 253), rgb(239, 221, 255));
  border-radius: 10px;
  position: relative;
}
header #sastumroebi:hover {
  box-shadow: 10px 10px 15px 4px #a98ba5;
  transition-duration: 0.2s;
}
header #sastumroebi h1 {
  font-family: "ALK Sanet", sans-serif;
  font-weight: 600;
  color: rgb(104, 62, 109);
  font-size: 36px;
  margin-top: 20px;
  margin-left: 20px;
}
header #sastumroebi p {
  font-weight: 600;
  color: rgb(147, 94, 159);
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
  width: 280px;
}
header #turebi {
  width: 350px;
  height: 200px;
  background-image: linear-gradient(to bottom right, rgb(235, 255, 246), rgb(217, 249, 255));
  border-radius: 10px;
}
header #turebi:hover {
  box-shadow: 10px 10px 15px 4px #8ba99d;
  transition-duration: 0.2s;
}
header #turebi h1 {
  font-family: "ALK Sanet", sans-serif;
  font-weight: 600;
  color: rgb(62, 109, 109);
  font-size: 36px;
  margin-top: 20px;
  margin-left: 20px;
}
header #turebi p {
  font-weight: 600;
  color: rgb(94, 153, 159);
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
  width: 280px;
}
header a {
  text-decoration: none;
}

main {
  width: 1520px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}
main .div {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}
main .div img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

footer {
  width: 1520px;
  height: 300px;
  margin-top: 150px;
  background-color: rgb(67, 155, 137);
  display: flex;
  flex-direction: row;
}
footer #erti {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  margin-left: 150px;
}
footer #erti a {
  text-decoration: none;
  color: white;
  font-family: "ALK Sanet", sans-serif;
  font-size: 20px;
  width: 200px;
}
footer #ori {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  margin-left: 150px;
}
footer #ori a {
  text-decoration: none;
  color: white;
  font-family: "ALK Sanet", sans-serif;
  font-size: 20px;
}
footer img {
  width: 100px;
  height: 100px;
  margin-left: 600px;
  margin-top: 40px;
}/*# sourceMappingURL=style.css.map */