nav {
    display: flex;
    flex-direction: column;
    #atag {
        margin-left: 30px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
           
        a {
                   text-decoration: none;
        font-family: "BPG Mikheil Stefane", sans-serif;
        font-weight: 800;
        font-size: 22px;
        color: rgb(77, 77, 77);
        }
        
    }
}