nav {
  width: 1520px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(228, 247, 243));
  border-bottom: 2px solid rgb(95, 161, 150);
  z-index: 10;
}
nav h1 {
  font-family: "BPG Mikheil Stefane", sans-serif;
  font-size: 60px;
  vertical-align: top;
  margin-left: 80px;
  margin-top: 10px;
  opacity: 100%;
  font-weight: 900;
  color: rgb(58, 58, 58);
}
nav h1:hover {
  font-size: 75px;
  transition-duration: 2s;
  color: rgb(0, 72, 48);
}
nav #atag {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 40px;
  margin-top: 30px;
  vertical-align: top;
}
nav #atag a {
  text-decoration: none;
  font-family: "BPG Mikheil Stefane", sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: rgb(77, 77, 77);
}
nav #atag a:hover {
  color: rgb(32, 157, 115);
}
nav #atag #active {
  color: rgb(0, 141, 106);
}
nav #search {
  display: flex;
  flex-direction: row;
}
nav #search #lupa {
  width: 40px;
  height: 40px;
  background-color: rgb(61, 163, 150);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
}
nav #search #lupa i {
  font-size: 24px;
  color: rgb(0, 58, 51);
  position: absolute;
}
nav #search #lupa:hover {
  background-color: rgb(75, 195, 155);
}
nav #search input {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border-color: rgb(190, 197, 195);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  vertical-align: top;
  margin-top: 20px;
}

header {
  width: 1520px;
  height: 250px;
  position: relative;
}
header img {
  width: 1520px;
  height: 250px;
  object-fit: cover;
  position: absolute;
}
header h1 {
  position: absolute;
  z-index: 9;
  color: white;
  margin-left: 550px;
  margin-top: 20px;
  font-family: "ALK Sanet", sans-serif;
  font-weight: 700;
  font-size: 60px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main #settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 80px;
}
main #settings select {
  width: 250px;
  height: 60px;
  padding: 16px 20px;
  border: 2px solid rgb(218, 220, 222);
  border-radius: 5px;
  background-color: #eeeff2;
  font-family: "BPG Rioni Arial", sans-serif;
  font-size: 16px;
  color: rgb(79, 89, 102);
  font-weight: 700;
}
main #settings option {
  font-family: "BPG Rioni Arial", sans-serif;
  font-size: 16px;
  color: rgb(107, 107, 107);
}
main #cards {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 50px;
  gap: 30px;
}
main #cards .div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main #cards .div .card {
  width: 280px;
  height: 300px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgb(144, 149, 153);
}
main #cards .div .card:hover {
  box-shadow: 10px 10px 15px 2px rgb(86, 89, 91);
  transition-duration: 0.2s;
}
main #cards .div .card .gray {
  background-image: linear-gradient(to bottom right, rgb(189, 255, 232), rgb(255, 232, 191));
  width: 280px;
  height: 150px;
}
main #cards .div .card h2 {
  font-family: "ALK Sanet", sans-serif;
  font-weight: 700;
  color: rgb(64, 68, 77);
  margin-top: 20px;
  margin-left: 20px;
}
main #cards .div .card p {
  font-family: "BPG Rioni Arial", sans-serif;
  color: rgb(93, 100, 116);
  font-weight: 400;
  margin-left: 20px;
}

footer {
  width: 1520px;
  height: 300px;
  margin-top: 150px;
  background-color: rgb(67, 155, 137);
  display: flex;
  flex-direction: row;
}
footer #erti {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  margin-left: 150px;
}
footer #erti a {
  text-decoration: none;
  color: white;
  font-family: "ALK Sanet", sans-serif;
  font-size: 20px;
  width: 200px;
}
footer #ori {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  margin-left: 150px;
}
footer #ori a {
  text-decoration: none;
  color: white;
  font-family: "ALK Sanet", sans-serif;
  font-size: 20px;
}
footer img {
  width: 100px;
  height: 100px;
  margin-left: 600px;
  margin-top: 40px;
}/*# sourceMappingURL=style.css.map */